@import url("https://fonts.googleapis.com/css?family=Bowlby+One|Roboto:300");
/* line 16, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
* {
  box-sizing: border-box; }

/* line 21, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
body,
html,
section {
  min-height: 100%; }

/* line 24, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 29, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
section {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  padding: 7%;
  padding: 7vw; }

/* line 36, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.intro-section {
  background-color: #2a4fd1;
  border-color: #2a4fd1; }
  @media screen and (min-width: 992px) {
    /* line 36, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .intro-section {
      background-image: url(../images/grey.png);
      background-size: cover; } }
  @media screen and (max-width: 991px) {
    /* line 36, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .intro-section {
      background-image: url(../images/intro-backround-mobile.png);
      background-size: cover; } }

/* line 48, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.quote-section {
  background-color: #498d38;
  border-color: #5CB246; }

/* line 52, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.main-copy {
  margin: 0 auto 7% auto;
  margin: 0 auto 7vw auto; }
  @media screen and (max-width: 991px) {
    /* line 52, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .main-copy {
      width: 100%; } }
  @media screen and (max-width: 767px) {
    /* line 52, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .main-copy {
      width: 100%; } }
  @media screen and (min-width: 991px) {
    /* line 52, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .main-copy {
      max-width: 1100px; } }
  @media screen and (max-width: 991px) {
    /* line 52, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .main-copy {
      margin-top: 14%;
      margin-top: 14vw; } }

/* line 69, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.big-quote {
  width: 50%;
  color: #ffffff; }
  @media screen and (max-width: 991px) {
    /* line 69, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .big-quote {
      width: 86%;
      width: 86vw;
      position: absolute;
      bottom: 14%;
      bottom: 14vw;
      left: 7%;
      left: 7vw;
      margin-top: 14%;
      margin-top: 14vw; } }
  /* line 83, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
  .big-quote .quote {
    font-family: "Bowlby One", serif; }
    @media screen and (max-width: 991px) {
      /* line 83, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
      .big-quote .quote {
        font-size: 48px; } }
    @media screen and (max-width: 767px) {
      /* line 83, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
      .big-quote .quote {
        font-size: 32px; } }
    @media screen and (min-width: 991px) {
      /* line 83, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
      .big-quote .quote {
        font-size: 64px; } }
    @media screen and (min-width: 1200px) {
      /* line 83, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
      .big-quote .quote {
        font-size: 64px; } }
  /* line 98, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
  .big-quote .attribution {
    font-family: "Bowlby One", serif;
    font-size: 16px; }

/* line 103, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.icon-bar {
  padding-top: 24px;
  border-top: 8px solid white;
  border-color: inherit;
  margin-top: 16px; }
  /* line 108, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
  .icon-bar .icons {
    margin-right: 16px; }
    /* line 110, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .icon-bar .icons img {
      width: 30px;
      height: 30px; }

/* line 116, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.work {
  background-color: #2a4fd1;
  border-color: #2a4fd1;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-flow: row wrap;
  font-size: 0; }
  @media screen and (max-width: 767px) {
    /* line 116, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .work {
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  /* line 132, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
  .work figure {
    flex: 1;
    margin: 0;
    position: relative;
    overflow: hidden;
    min-width: 400px;
    max-height: 600px; }
    @media screen and (max-width: 767px) {
      /* line 132, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
      .work figure {
        width: 100%;
        height: auto;
        max-width: auto;
        min-width: auto; } }
    /* line 145, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .work figure img {
      width: 100%;
      height: auto; }

/* line 151, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.contact-section {
  background-color: #213fa7;
  border-color: #2a4fd1; }

/* line 155, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.left {
  margin-right: auto; }

/* line 158, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.right {
  margin-left: auto; }
  @media screen and (max-width: 767px) {
    /* line 158, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .right {
      margin-left: 0; } }

/* line 164, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-gap: 7%;
  column-gap: 7vw; }
  @media screen and (max-width: 767px) {
    /* line 164, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    .two-column {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; } }

/* line 176, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.border-btm {
  padding-bottom: 16px;
  border-bottom: 8px solid white;
  border-color: inherit; }

/* line 181, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.grey {
  background-color: #f3f3f3; }

/* line 184, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.white {
  color: #ffffff; }

/* line 187, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
.blue {
  border-color: #2a4fd1; }

/* line 193, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
h1,
h2,
h3 {
  font-family: "Bowlby One", serif; }

/* line 196, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
h1 {
  margin-bottom: 16px; }
  @media screen and (max-width: 991px) {
    /* line 196, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    h1 {
      font-size: 48px; } }
  @media screen and (max-width: 767px) {
    /* line 196, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    h1 {
      font-size: 48px; } }
  @media screen and (min-width: 991px) {
    /* line 196, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    h1 {
      font-size: 64px; } }

/* line 208, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
h2 {
  max-width: 50%;
  padding-bottom: 16px;
  border-bottom: 8px solid #2a4fd1; }
  @media screen and (max-width: 991px) {
    /* line 208, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    h2 {
      font-size: 48px;
      margin-bottom: 24px; } }
  @media screen and (max-width: 767px) {
    /* line 208, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    h2 {
      font-size: 32px;
      margin-bottom: 24px; } }
  @media screen and (min-width: 991px) {
    /* line 208, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    h2 {
      font-size: 64px;
      margin-bottom: 48px; } }
  @media screen and (min-width: 1200px) {
    /* line 208, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    h2 {
      font-size: 64px;
      margin-bottom: 48px; } }

/* line 229, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
h3 {
  font-size: 32px; }

/* line 232, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
p {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  margin-top: 24px; }
  @media screen and (max-width: 991px) {
    /* line 232, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    p {
      font-size: 24px; } }
  @media screen and (max-width: 767px) {
    /* line 232, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    p {
      font-size: 24px; } }
  @media screen and (min-width: 991px) {
    /* line 232, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
    p {
      font-size: 32px; } }

/* line 246, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  margin-top: 24px;
  font-size: 24px;
  padding-bottom: 16px;
  border-bottom: 8px solid white;
  border-color: inherit; }

/* line 257, /Users/asims/GitHub/andrew-sims.github.io/css/style.scss */
a :focus {
  border: none;
  outline: none; }

/*# sourceMappingURL=style.css.map */