@import url("https://fonts.googleapis.com/css?family=Bowlby+One|Libre+Franklin:300");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html,
section {
  min-height: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  padding: 7%;
  padding: 7vw;
}

.section--intro {
  background-color: #2a4fd1;
  border-color: #2a4fd1;
}

@media screen and (min-width: 992px) {
  .section--intro {
    background-image: url(../images/intro-backround.jpg);
    background-size: cover;
  }
}

@media screen and (max-width: 991px) {
  .section--intro {
    background-image: url(../images/intro-backround-mobile.jpg);
    background-size: cover;
  }
}

.section--quote {
  background-color: #498d38;
  border-color: #5CB246;
}

.section--summary {
  background-color: #213fa7;
  border-color: #2a4fd1;
}

.section--past-roles {
  background-color: #498d38;
  border-color: #5CB246;
}

.main-copy {
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 991px) {
  .main-copy {
    width: 100%;
    margin: 0 auto 7vw auto;
  }
}

@media screen and (max-width: 767px) {
  .main-copy {
    width: 100%;
    margin: 0 auto 7vw auto;
  }
}

@media screen and (min-width: 991px) {
  .main-copy {
    max-width: 1100px;
  }
}

@media screen and (max-width: 991px) {
  .main-copy {
    margin-top: 14%;
    margin-top: 14vw;
  }
}

.summary-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.summary-block .summary {
  width: 33.333%;
  margin-right: 7%;
  margin-bottom: 48px;
}

@media screen and (max-width: 991px) {
  .summary-block .summary {
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 767px) {
  .summary-block .summary {
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 48px;
  }
}

.summary-block p {
  font-family: "Libre Franklin", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  margin-top: 24px;
}

.summary-block li {
  border-bottom: none;
  padding-bottom: 0;
}

.big-quote {
  width: 50%;
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  .big-quote {
    width: 86%;
    width: 86vw;
    position: absolute;
    bottom: 14%;
    bottom: 14vw;
    left: 7%;
    left: 7vw;
    margin-top: 14%;
    margin-top: 14vw;
  }
}

.big-quote .quote {
  font-family: "Bowlby One", serif;
}

@media screen and (max-width: 991px) {
  .big-quote .quote {
    font-size: 48px;
  }
}

@media screen and (max-width: 767px) {
  .big-quote .quote {
    font-size: 32px;
  }
}

@media screen and (min-width: 991px) {
  .big-quote .quote {
    font-size: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .big-quote .quote {
    font-size: 64px;
  }
}

.big-quote .attribution {
  font-family: "Bowlby One", serif;
  font-size: 16px;
}

.icon-bar {
  padding-top: 24px;
  border-top: 8px solid white;
  border-color: inherit;
  margin-top: 16px;
}

.icon-bar .icons {
  margin-right: 16px;
}

.icon-bar .icons img {
  width: 30px;
  height: 30px;
}

.section--work {
  background-color: #498d38;
  border-color: #5CB246;
  padding: 7vw;
  margin: 0 0 0 0;
}

@media screen and (max-width: 991px) {
  .section--work {
    padding: 7vw;
  }
}

.work-container {
  margin: 7vw auto 7vw;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 0;
  border-color: inherit;
}

@media screen and (max-width: 767px) {
  .work-container {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.work-container div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  position: relative;
  overflow: hidden;
  min-width: 400px;
  max-height: 600px;
}

@media screen and (max-width: 767px) {
  .work-container div {
    width: 100%;
    height: auto;
    max-width: auto;
    min-width: auto;
  }
}

.work-container div img {
  width: 100%;
  height: auto;
}

.work-text {
  margin: 7vw 0;
}

@media screen and (max-width: 767px) {
  .work-text {
    margin: 14vw 0;
  }
}

.work-text h3 {
  max-width: 50%;
}

@media screen and (max-width: 767px) {
  .work-text h3 {
    max-width: 100%;
  }
}

.section--competencies {
  background-color: #213fa7;
  border-color: #2a4fd1;
}

.contact-bar {
  margin-top: 128px;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .right {
    margin-left: 0;
  }
}

.two-column {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 7%;
          column-gap: 7%;
  -webkit-column-gap: 7vw;
          column-gap: 7vw;
}

@media screen and (max-width: 767px) {
  .two-column {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.border-btm {
  padding-bottom: 16px;
  border-bottom: 8px solid white;
  border-color: inherit;
}

.bg-grey {
  background-color: #f3f3f3;
}

.text-white {
  color: #ffffff;
}

.border-blue {
  border-color: #2a4fd1;
}

.border-green {
  border-color: #5CB246;
}

h1,
h2,
h3 {
  font-family: "Bowlby One", serif;
}

h1 {
  margin-bottom: 16px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  max-width: 50%;
  padding-bottom: 16px;
  border-bottom: 8px solid #2a4fd1;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 991px) {
  h2 {
    font-size: 64px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 64px;
    margin-bottom: 48px;
  }
}

h3 {
  font-size: 32px;
}

p {
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.4;
  margin-top: 24px;
}

@media screen and (max-width: 991px) {
  p {
    font-size: 22.4px;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 22.4px;
  }
}

@media screen and (min-width: 991px) {
  p {
    font-size: 32px;
  }
}

li {
  list-style: none;
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.3;
  margin-top: 24px;
  font-size: 24px;
  padding-bottom: 16px;
  border-bottom: 8px solid white;
  border-color: inherit;
}

.label {
  font-family: "Bowlby One", serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

a :focus {
  border: none;
  outline: none;
}
/*# sourceMappingURL=style.css.map */